<!--
   EXAMPLE: MP3 stream using an external playlist program, WITH reencoding

   This example streams a playlist that may contain MP3, Ogg Vorbis and FLAC
   files. Ezstream will use external decoders to read the media files, and
   reencode them to MP3 using the lame MP3 encoder. The output stream settings
   are controlled via the paramters to lame.
 -->
<ezstream>
    <url>http://localhost:8000/stream.mp3</url>
    <sourcepassword> [pass] </sourcepassword>
    <!--
       Since the reencoding feature is enabled below, <format /> sets the
       output format of the stream.
     -->
    <format>MP3</format>
    <filename>pipe1.mp3</filename>
    <!--
       Indicate that <filename> contains an executable program or script,
       which prints a single line with a filename to standard output:
     -->
    <playlist_program>0</playlist_program>
    <!--
      The following settings are used to describe your stream to the server.
      It's up to you to make sure that the bitrate/samplerate/channels
      information matches up with your lame encoder settings below.
     -->
    <svrinfoname> name </svrinfoname>
    <svrinfourl> url </svrinfourl>
    <svrinfogenre>INBAcore</svrinfogenre>
    <svrinfodescription> desc </svrinfodescription>
    <svrinfobitrate>64</svrinfobitrate>
    <svrinfochannels>2</svrinfochannels>
    <svrinfosamplerate>44100</svrinfosamplerate>
    <!--
      Prohibit the server to advertise the stream on a public YP directory:
     -->
    <svrinfopublic>0</svrinfopublic>
</ezstream>
